.contenedor {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  border: 2px solid #ccc;
  padding: 20px;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Más claro y con mayor transparencia */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Suave sombra alrededor del contenedor */
}

h1,
p,
label,
span {
  text-shadow: 1px 1px 3px #b09393; /* Sombras más sutiles */
  color: #333; /* Color de texto más oscuro para mejor contraste */
}

.key {
  background-color: #eeaaaa; /* Color de fondo más claro */
  color: #333; /* Color de texto oscuro para mejor contraste */
  font-size: 20px;
  border: 1px solid #b19999; /* Borde más claro */
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s; /* Transiciones suaves */
  margin-right: 20px;
  border-radius: 5px;
}

/* Asegúrate de que el último botón no tenga margen a la derecha para alinearlos correctamente */
.key:last-child {
  margin-right: 0;
}

.key:hover {
  background-color: #f4c4c4; /* Color de hover más sutil */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra al hacer hover */
}

.key:active {
  background-color: #ddd; /* Color más oscuro al hacer click */
}

.caja {
  width: 4em;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 6px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.2s, box-shadow 0.2s;
}

.caja:focus {
  border-color: #4caf50; /* Color de borde cuando está en foco */
  box-shadow: 0 0 8px rgba(76, 175, 80, 0.6); /* Sombra más destacada para el foco */
}

.fila.inactiva input {
  background-color: #e7e7e7; /* Más claro para elementos inactivos */
  pointer-events: none;
}

.fila.activa input {
  background-color: white;
  pointer-events: auto;
}

input {
  text-transform: uppercase;
}

body {
  background-image: url("./fondo.png");
  backdrop-filter: blur(4px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.contenedor-botones {
  display: flex;
  justify-content: space-around; /* Esto distribuirá el espacio uniformemente entre los botones */
  padding: 20px; /* Esto añade algo de espacio alrededor de los botones dentro de su contenedor */
}